@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top, #757f9a, #d7dde8);
  height: 100vh;
  font-size: 62.5%;
}
.box {
  border: 1px solid black;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(240, 254, 255, 0.74);
  margin-bottom: 50px;
}
.container {
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
  width: 50%;
  height: 100vh;
}

h1 {
  margin-bottom: 50px;
  font-size: 2rem;
}

.question {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
  /* display: none; */
}
.answer {
  margin-top: 20px;
  display: none;
}
button {
  border: none;
  background-color: transparent;
}

button i {
  border: none;
  /* background-color: rgb(167, 167, 167); */
  font-size: 1.3rem;
  color: rgb(48, 56, 18);
  padding: 0;
}

button i:hover {
  color: rgb(0, 255, 42);
}
hr {
  height: 3px;
  background-color: blueviolet;
  margin-bottom: 10px;
}
.active {
  display: block;
  font-size: 1rem;
}
